In [1]:
import numpy as np
import pandas as pd

# Collect data

### demographics

In [2]:
#user= dempgraphics?
users=pd.read_csv('demographics.csv')
users.columns=['Customer ID','Count','Gender','Age','Under_30','Senior_Citizen','Married','Dependents','Number_of_Dependents']
# do we still need Under 30/ Senior Citizen, or we need to group the age ?
users.drop(['Count'],axis=1,inplace=True)
users

,Customer ID,Gender,Age,Under_30,Senior_Citizen,Married,Dependents,Number_of_Dependents
0,1746-TGTWV,Male,78.0,No,Yes,No,No,0.0
1,8499-BRXTD,Female,74.0,No,Yes,Yes,NaN,1.0
2,2041-JIJCI,Male,71.0,No,Yes,No,Yes,3.0
3,5832-EXGTT,Female,78.0,No,Yes,Yes,Yes,1.0
4,8350-NYMVI,NaN,80.0,No,Yes,NaN,Yes,1.0
...,...,...,...,...,...,...,...,...
6158,7609-NRNCA,Female,NaN,No,No,No,No,0.0
6159,4835-YSJMR,Male,38.0,No,No,NaN,Yes,2.0
6160,5067-DGXLL,NaN,30.0,No,No,Yes,Yes,2.0
6161,3129-AAQOU,Female,32.0,No,No,Yes,Yes,2.0
6162,2205-LPVGL,Male,44.0,No,No,No,No,0.0

### location

In [3]:
location=pd.read_csv('location.csv')
location.columns=['Customer ID','Count','Country','State','City','Zip Code','Lat Long','Latitude','Longtitude']
# Country, State are the same, latitude/longtitude's information is in Zip code
location.drop(['Count','Country','State','Lat Long','Latitude','Longtitude'],axis=1,inplace=True)

### population

In [4]:
population=pd.read_csv('population.csv')
population.columns=['ID','Zip Code','Population']
population.drop(['ID'],axis=1,inplace=True)
population

      Zip Code  Population
0        90001       54492
1        90002       44586
2        90003       58198
3        90004       67852
4        90005       43019
...        ...         ...
1666     96145        4002
1667     96146         942
1668     96148         678
1669     96150       33038
1670     96161       15783

[1671 rows x 2 columns]

### merge location and population ,and join users

In [5]:
location=pd.merge(location,population,on='Zip Code')
users=pd.merge(users,location,on='Customer ID',how='outer')
users

,Customer ID,Gender,Age,Under_30,Senior_Citizen,Married,Dependents,Number_of_Dependents,City,Zip Code,Population
0,1746-TGTWV,Male,78.0,No,Yes,No,No,0.0,Los Angeles,90022.0,68701.0
1,8499-BRXTD,Female,74.0,No,Yes,Yes,NaN,1.0,NaN,NaN,NaN
2,2041-JIJCI,Male,71.0,No,Yes,No,Yes,3.0,NaN,NaN,NaN
3,5832-EXGTT,Female,78.0,No,Yes,Yes,Yes,1.0,Inglewood,90303.0,27778.0
4,8350-NYMVI,NaN,80.0,No,Yes,NaN,Yes,1.0,Whittier,90602.0,26265.0
...,...,...,...,...,...,...,...,...,...,...,...
6853,6839-ITVZJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jacumba,91934.0,699.0
6854,6821-JPCDC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Glennville,93226.0,296.0
6855,5799-JRCZO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bakersfield,93311.0,20440.0
6856,8741-LQOBK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mccloud,96057.0,1586.0
6857,3316-UWXUY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Klamath,95548.0,1215.0

satisfaction

In [6]:
satisfaction=pd.read_csv('satisfaction.csv')
satisfaction.columns=['Customer ID','score']
users=pd.merge(users,satisfaction,on='Customer ID',how='outer')

services

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
services=pd.read_csv('services.csv')
services.columns=['Customer ID','Count','Quarter','Referred_a_Friend','Number of Referrals','Tenure in Months','Offer','Phone_Service','Avg Monthly Long Distance Charges','Multiple_Lines','Internet_Service','Internet_Type','Avg Monthly GB Download','Online_Security','Online_Backup','Device_Protection_Plan','Premium_Tech_Support','Streaming_TV','Streaming_Movies','Streaming_Music','Unlimited_Data','Contract','Paperless_Billing','Payment_Method','Monthly Charge','Total Charges','Total Refunds','Total Extra Data Charges','Total Long Distance Charges','Total Revenue']
# Quarter are always Q3
services.drop(['Count','Quarter'],axis=1,inplace=True)
users=pd.merge(users,services,on='Customer ID',how='outer')
#columns_to_encode = [1,3,4,5,6,8,12,13,14,15,16,17,18,20,21,22,23,34,35,36,27,28,29]
#ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), columns_to_encode)], remainder='passthrough')
users = pd.concat((users,pd.get_dummies(users.Married,prefix='Married')),1)
users = pd.concat((users,pd.get_dummies(users.Gender,prefix='Gender')),1)
users = pd.concat((users,pd.get_dummies(users.Under_30,prefix='Under_30')),1)
users = pd.concat((users,pd.get_dummies(users.Senior_Citizen,prefix='Senior_Citizen')),1)
users = pd.concat((users,pd.get_dummies(users.Dependents,prefix='Dependents')),1)
users = pd.concat((users,pd.get_dummies(users.City,prefix='City')),1)
#users = pd.concat((users,pd.get_dummies(users.Referred_a_friend,prefix='Referred_a_friend')),1)
users = pd.concat((users,pd.get_dummies(users.Offer,prefix='Offer')),1)
users = pd.concat((users,pd.get_dummies(users.Phone_Service,prefix='Phone_Service')),1)
users = pd.concat((users,pd.get_dummies(users.Multiple_Lines,prefix='Multiple_Lines')),1)
users = pd.concat((users,pd.get_dummies(users.Internet_Service,prefix='Internet_Service')),1)
users = pd.concat((users,pd.get_dummies(users.Internet_Type,prefix='Internet_Type')),1)
users = pd.concat((users,pd.get_dummies(users.Online_Security,prefix='Online_Security')),1)
users = pd.concat((users,pd.get_dummies(users.Online_Backup,prefix='Online_Backup')),1)
users = pd.concat((users,pd.get_dummies(users.Device_Protection_Plan,prefix='Device_Protection_Plan')),1)
users = pd.concat((users,pd.get_dummies(users.Premium_Tech_Support,prefix='Premium_Tech_Support')),1)
users = pd.concat((users,pd.get_dummies(users.Streaming_TV,prefix='Streaming_TV')),1)
users = pd.concat((users,pd.get_dummies(users.Streaming_Movies,prefix='Streaming_Movies')),1)
users = pd.concat((users,pd.get_dummies(users.Streaming_Music,prefix='Streaming_Music')),1)
users = pd.concat((users,pd.get_dummies(users.Unlimited_Data,prefix='Unlimited_Data')),1)
users = pd.concat((users,pd.get_dummies(users.Contract,prefix='Contract')),1)
users = pd.concat((users,pd.get_dummies(users.Paperless_Billing,prefix='Paperless_Billing')),1)
users = pd.concat((users,pd.get_dummies(users.Payment_Method,prefix='Payment_Method')),1)

users.drop(['Married','Gender','Under_30','Senior_Citizen','Dependents','City','Phone_Service','Multiple_Lines','Internet_Service','Internet_Type','Online_Security','Online_Backup','Device_Protection_Plan','Premium_Tech_Support','Streaming_TV','Streaming_Movies','Streaming_Music','Unlimited_Data','Contract','Paperless_Billing','Payment_Method'],axis=1,inplace=True)
'''
df["Married"]=pd.util.hash_array(df["Married"].to_numpy())
df["Gender"]=pd.util.hash_array(df["Gender"].to_numpy())
df["Under 30"]=pd.util.hash_array(df["Under 30"].to_numpy())
df["Senior Citizen"]=pd.util.hash_array(df["Senior Citizen"].to_numpy())
df["Dependents"]=pd.util.hash_array(df["Dependents"].to_numpy())
df["City"]=pd.util.hash_array(df["City"].to_numpy())
#df["Referred a friend"]=pd.util.hash_array(df["Referred a friend"].to_numpy())
df["Offer"]=pd.util.hash_array(df["Offer"].to_numpy())
df["Phone Service"]=pd.util.hash_array(df["Phone Service"].to_numpy())
df["Multiple Lines"]=pd.util.hash_array(df["Multiple Lines"].to_numpy())
df["Internet Service"]=pd.util.hash_array(df["Internet Service"].to_numpy())
df["Internet Type"]=pd.util.hash_array(df["Internet Type"].to_numpy())
df["Online Security"]=pd.util.hash_array(df["Online Security"].to_numpy())
df["Online Backup"]=pd.util.hash_array(df["Online Backup"].to_numpy())
df["Device Protection Plan"]=pd.util.hash_array(df["Device Protection Plan"].to_numpy())
df["Premium Tech Support"]=pd.util.hash_array(df["Premium Tech Support"].to_numpy())
df["Streaming TV"]=pd.util.hash_array(df["Streaming TV"].to_numpy())
df["Streaming Movies"]=pd.util.hash_array(df["Streaming Movies"].to_numpy())
df["Streaming Music"]=pd.util.hash_array(df["Streaming Music"].to_numpy())
df["Unlimited Data"]=pd.util.hash_array(df["Unlimited Data"].to_numpy())
df["Contract"]=pd.util.hash_array(df["Contract"].to_numpy())
df["Paperless Billing"]=pd.util.hash_array(df["Paperless Billing"].to_numpy())
df["Payment Method"]=pd.util.hash_array(df["Payment Method"].to_numpy())
'''
users

/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:10: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Married,prefix='Married')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:11: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Gender,prefix='Gender')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:12: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Under_30,prefix='Under_30')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:13: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Senior_Citizen,prefix='Senior_Citizen')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:14: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Dependents,prefix='Dependents')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:15: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.City,prefix='City')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:17: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Offer,prefix='Offer')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:18: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Phone_Service,prefix='Phone_Service')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:19: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Multiple_Lines,prefix='Multiple_Lines')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:20: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Internet_Service,prefix='Internet_Service')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:21: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Internet_Type,prefix='Internet_Type')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:22: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Online_Security,prefix='Online_Security')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:23: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Online_Backup,prefix='Online_Backup')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:24: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Device_Protection_Plan,prefix='Device_Protection_Plan')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:25: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Premium_Tech_Support,prefix='Premium_Tech_Support')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:26: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Streaming_TV,prefix='Streaming_TV')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:27: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Streaming_Movies,prefix='Streaming_Movies')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:28: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Streaming_Music,prefix='Streaming_Music')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:29: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Unlimited_Data,prefix='Unlimited_Data')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:30: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Contract,prefix='Contract')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:31: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Paperless_Billing,prefix='Paperless_Billing')),1)
/var/folders/sm/dnfqlxvd0d92nydq65rfrf980000gn/T/ipykernel_4127/1711089820.py:32: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  users = pd.concat((users,pd.get_dummies(users.Payment_Method,prefix='Payment_Method')),1)

,Customer ID,Age,Number_of_Dependents,Zip Code,Population,score,Referred_a_Friend,Number of Referrals,Tenure in Months,Offer,...,Unlimited_Data_No,Unlimited_Data_Yes,Contract_Month-to-Month,Contract_One Year,Contract_Two Year,Paperless_Billing_No,Paperless_Billing_Yes,Payment_Method_Bank Withdrawal,Payment_Method_Credit Card,Payment_Method_Mailed Check
0,1746-TGTWV,78.0,0.0,90022.0,68701.0,NaN,No,0.0,1.0,None,...,1,0,1,0,0,0,1,1,0,0
1,8499-BRXTD,74.0,1.0,NaN,NaN,3.0,Yes,1.0,8.0,Offer E,...,0,1,1,0,0,0,1,0,0,0
2,2041-JIJCI,71.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,5832-EXGTT,78.0,1.0,90303.0,27778.0,2.0,Yes,1.0,25.0,Offer C,...,0,1,1,0,0,0,1,1,0,0
4,8350-NYMVI,80.0,1.0,90602.0,26265.0,2.0,Yes,1.0,37.0,Offer C,...,0,1,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037,0516-WJVXC,NaN,NaN,NaN,NaN,NaN,Yes,2.0,1.0,None,...,0,0,1,0,0,1,0,0,1,0
7038,0388-EOPEX,NaN,NaN,NaN,NaN,NaN,No,0.0,35.0,NaN,...,1,0,0,1,0,1,0,0,1,0
7039,7055-JCGNI,NaN,NaN,NaN,NaN,NaN,No,0.0,NaN,Offer B,...,0,1,0,0,1,1,0,0,1,0
7040,6891-JPYFF,NaN,NaN,NaN,NaN,NaN,No,0.0,1.0,Offer E,...,0,1,1,0,0,0,1,0,1,0
7041,3450-WXOAT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,23.0,None,...,1,0,0,0,1,1,0,0,1,0

status

In [8]:
status=pd.read_csv('status.csv')
status.columns=['Customer ID','Churn Category']
status['ans'] = status['Churn Category']
status.loc[status.ans=='No Churn','ans']='0'
status.loc[status.ans=='Competitor','ans']='1'
status.loc[status.ans=='Dissatisfaction','ans']='2'
status.loc[status.ans=='Attitude','ans']='3'
status.loc[status.ans=='Price','ans']='4'
status.loc[status.ans=='Other','ans']='5'
status.drop(['Churn Category'],axis=1,inplace=True)
status.rename(columns={'ans':'Churn Category'}, inplace=True)
#final train data
train=pd.merge(status,users,on='Customer ID',how='left')

# Train Model

In [9]:
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVC

In [10]:
features=list(train)
print(features)
features.remove('Customer ID')
features.remove('Churn Category')
features.remove('Referred_a_Friend')
features.remove('Offer')
'''
features.remove('Under 30')
features.remove('Married')
features.remove('Senior Citizen')
features.remove('Dependents')
features.remove('City')
features.remove('Referred a Friend')
features.remove('Offer')
features.remove('Phone Service')
features.remove('Multiple Lines')
features.remove('Internet Service')
features.remove('Internet Type')
features.remove('Online Security')
features.remove('Online Backup')
features.remove('Device Protection Plan')
features.remove('Premium Tech Support')
features.remove('Streaming TV')
features.remove('Streaming Movies')
features.remove('Streaming Music')
features.remove('Unlimited Data')
features.remove('Contract')
features.remove('Paperless Billing')
features.remove('Payment Method')
'''
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer = imputer.fit(train.loc[:, features])
train_imputed = imputer.fit_transform(train.loc[:, features])
df=pd.DataFrame(train_imputed)
poly = PolynomialFeatures(degree=2, interaction_only=True)
train_imputed = pd.DataFrame(poly.fit_transform(df))
print(train_imputed.shape)

['Customer ID', 'Churn Category', 'Age', 'Number_of_Dependents', 'Zip Code', 'Population', 'score', 'Referred_a_Friend', 'Number of Referrals', 'Tenure in Months', 'Offer', 'Avg Monthly Long Distance Charges', 'Avg Monthly GB Download', 'Monthly Charge', 'Total Charges', 'Total Refunds', 'Total Extra Data Charges', 'Total Long Distance Charges', 'Total Revenue', 'Married_No', 'Married_Yes', 'Gender_Female', 'Gender_Male', 'Under_30_No', 'Under_30_Yes', 'Senior_Citizen_No', 'Senior_Citizen_Yes', 'Dependents_No', 'Dependents_Yes', 'City_Acampo', 'City_Acton', 'City_Adelanto', 'City_Adin', 'City_Agoura Hills', 'City_Aguanga', 'City_Ahwahnee', 'City_Alameda', 'City_Alamo', 'City_Albany', 'City_Albion', 'City_Alderpoint', 'City_Alhambra', 'City_Aliso Viejo', 'City_Alleghany', 'City_Alpaugh', 'City_Alpine', 'City_Alta', 'City_Altadena', 'City_Alturas', 'City_Alviso', 'City_Amador City', 'City_Amboy', 'City_Anaheim', 'City_Anderson', 'City_Angels Camp', 'City_Angelus Oaks', 'City_Angwin', 'City_Annapolis', 'City_Antelope', 'City_Antioch', 'City_Anza', 'City_Apple Valley', 'City_Applegate', 'City_Aptos', 'City_Arbuckle', 'City_Arcadia', 'City_Arcata', 'City_Armona', 'City_Arnold', 'City_Aromas', 'City_Arroyo Grande', 'City_Artesia', 'City_Arvin', 'City_Atascadero', 'City_Atherton', 'City_Atwater', 'City_Auberry', 'City_Auburn', 'City_Avalon', 'City_Avenal', 'City_Avery', 'City_Avila Beach', 'City_Azusa', 'City_Badger', 'City_Baker', 'City_Bakersfield', 'City_Baldwin Park', 'City_Ballico', 'City_Bangor', 'City_Banning', 'City_Barstow', 'City_Bass Lake', 'City_Beale Afb', 'City_Beaumont', 'City_Bella Vista', 'City_Bellflower', 'City_Belmont', 'City_Belvedere Tiburon', 'City_Ben Lomond', 'City_Benicia', 'City_Benton', 'City_Berkeley', 'City_Berry Creek', 'City_Bethel Island', 'City_Beverly Hills', 'City_Bieber', 'City_Big Bar', 'City_Big Bear City', 'City_Big Bear Lake', 'City_Big Creek', 'City_Big Oak Flat', 'City_Big Pine', 'City_Biggs', 'City_Biola', 'City_Birds Landing', 'City_Bishop', 'City_Blairsden Graeagle', 'City_Blocksburg', 'City_Bloomington', 'City_Blue Lake', 'City_Blythe', 'City_Bodega', 'City_Bodega Bay', 'City_Bodfish', 'City_Bolinas', 'City_Bonita', 'City_Bonsall', 'City_Boonville', 'City_Boron', 'City_Borrego Springs', 'City_Boulder Creek', 'City_Boulevard', 'City_Bradley', 'City_Branscomb', 'City_Brawley', 'City_Brea', 'City_Brentwood', 'City_Bridgeport', 'City_Bridgeville', 'City_Brisbane', 'City_Brookdale', 'City_Brooks', 'City_Browns Valley', 'City_Brownsville', 'City_Buellton', 'City_Buena Park', 'City_Burbank', 'City_Burlingame', 'City_Burney', 'City_Burnt Ranch', 'City_Burson', 'City_Butte City', 'City_Buttonwillow', 'City_Byron', 'City_Cabazon', 'City_Calabasas', 'City_Calexico', 'City_Caliente', 'City_California City', 'City_California Hot Springs', 'City_Calimesa', 'City_Calipatria', 'City_Calistoga', 'City_Callahan', 'City_Calpine', 'City_Camarillo', 'City_Cambria', 'City_Camino', 'City_Camp Nelson', 'City_Campbell', 'City_Campo', 'City_Campo Seco', 'City_Camptonville', 'City_Canby', 'City_Canoga Park', 'City_Cantua Creek', 'City_Canyon Country', 'City_Canyon Dam', 'City_Capay', 'City_Capistrano Beach', 'City_Capitola', 'City_Cardiff By The Sea', 'City_Carlotta', 'City_Carlsbad', 'City_Carmel', 'City_Carmel By The Sea', 'City_Carmel Valley', 'City_Carmichael', 'City_Carnelian Bay', 'City_Carpinteria', 'City_Carson', 'City_Caruthers', 'City_Casmalia', 'City_Caspar', 'City_Cassel', 'City_Castaic', 'City_Castella', 'City_Castro Valley', 'City_Castroville', 'City_Cathedral City', 'City_Catheys Valley', 'City_Cayucos', 'City_Cazadero', 'City_Cedar Glen', 'City_Cedarville', 'City_Ceres', 'City_Cerritos', 'City_Challenge', 'City_Chatsworth', 'City_Chester', 'City_Chico', 'City_Chilcoot', 'City_Chino', 'City_Chino Hills', 'City_Chowchilla', 'City_Chualar', 'City_Chula Vista', 'City_Citrus Heights', 'City_Claremont', 'City_Clarksburg', 'City_Clayton', 'City_Clearlake', 'City_Clearlake Oaks', 'City_Clements', 'City_Clio', 'City_Clipper Mills', 'City_Cloverdale', 'City_Clovis', 'City_Coachella', 'City_Coalinga', 'City_Coarsegold', 'City_Cobb', 'City_Coleville', 'City_Colfax', 'City_Colton', 'City_Columbia', 'City_Colusa', 'City_Comptche', 'City_Compton', 'City_Concord', 'City_Cool', 'City_Copperopolis', 'City_Corcoran', 'City_Corning', 'City_Corona', 'City_Corona Del Mar', 'City_Coronado', 'City_Corte Madera', 'City_Costa Mesa', 'City_Cotati', 'City_Cottonwood', 'City_Courtland', 'City_Covelo', 'City_Covina', 'City_Crescent Mills', 'City_Cressey', 'City_Crestline', 'City_Creston', 'City_Crockett', 'City_Crows Landing', 'City_Culver City', 'City_Cupertino', 'City_Cutler', 'City_Cypress', 'City_Daggett', 'City_Daly City', 'City_Dana Point', 'City_Danville', 'City_Darwin', 'City_Davenport', 'City_Davis', 'City_Davis Creek', 'City_Death Valley', 'City_Deer Park', 'City_Del Rey', 'City_Delano', 'City_Delhi', 'City_Denair', 'City_Descanso', 'City_Desert Center', 'City_Desert Hot Springs', 'City_Diamond Bar', 'City_Diamond Springs', 'City_Dillon Beach', 'City_Dinuba', 'City_Dixon', 'City_Dobbins', 'City_Dorris', 'City_Dos Palos', 'City_Dos Rios', 'City_Douglas City', 'City_Downey', 'City_Downieville', 'City_Doyle', 'City_Duarte', 'City_Dublin', 'City_Dulzura', 'City_Duncans Mills', 'City_Dunlap', 'City_Dunnigan', 'City_Dunsmuir', 'City_Durham', 'City_Dutch Flat', 'City_Eagleville', 'City_Earlimart', 'City_Earp', 'City_Echo Lake', 'City_Edwards', 'City_El Cajon', 'City_El Centro', 'City_El Cerrito', 'City_El Dorado', 'City_El Dorado Hills', 'City_El Monte', 'City_El Nido', 'City_El Portal', 'City_El Segundo', 'City_El Sobrante', 'City_Eldridge', 'City_Elk', 'City_Elk Creek', 'City_Elk Grove', 'City_Elmira', 'City_Elverta', 'City_Emeryville', 'City_Emigrant Gap', 'City_Encinitas', 'City_Encino', 'City_Escalon', 'City_Escondido', 'City_Esparto', 'City_Essex', 'City_Etna', 'City_Eureka', 'City_Exeter', 'City_Fair Oaks', 'City_Fairfax', 'City_Fairfield', 'City_Fall River Mills', 'City_Fallbrook', 'City_Farmersville', 'City_Fawnskin', 'City_Fellows', 'City_Felton', 'City_Ferndale', 'City_Fiddletown', 'City_Fields Landing', 'City_Fillmore', 'City_Firebaugh', 'City_Fish Camp', 'City_Five Points', 'City_Flournoy', 'City_Folsom', 'City_Fontana', 'City_Foothill Ranch', 'City_Forbestown', 'City_Forest Falls', 'City_Forest Knolls', 'City_Forest Ranch', 'City_Foresthill', 'City_Forestville', 'City_Forks Of Salmon', 'City_Fort Bidwell', 'City_Fort Bragg', 'City_Fort Irwin', 'City_Fortuna', 'City_Fountain Valley', 'City_Fowler', 'City_Frazier Park', 'City_Freedom', 'City_Fremont', 'City_French Camp', 'City_French Gulch', 'City_Fresno', 'City_Friant', 'City_Fullerton', 'City_Fulton', 'City_Galt', 'City_Garberville', 'City_Garden Grove', 'City_Garden Valley', 'City_Gardena', 'City_Gasquet', 'City_Georgetown', 'City_Gerber', 'City_Geyserville', 'City_Gilroy', 'City_Glen Ellen', 'City_Glencoe', 'City_Glendale', 'City_Glendora', 'City_Glenhaven', 'City_Glenn', 'City_Glennville', 'City_Gold Run', 'City_Goleta', 'City_Gonzales', 'City_Goodyears Bar', 'City_Granada Hills', 'City_Grand Terrace', 'City_Granite Bay', 'City_Grass Valley', 'City_Graton', 'City_Green Valley Lake', 'City_Greenbrae', 'City_Greenfield', 'City_Greenview', 'City_Greenville', 'City_Greenwood', 'City_Grenada', 'City_Gridley', 'City_Grimes', 'City_Grizzly Flats', 'City_Groveland', 'City_Grover Beach', 'City_Guadalupe', 'City_Gualala', 'City_Guatay', 'City_Guerneville', 'City_Guinda', 'City_Gustine', 'City_Hacienda Heights', 'City_Half Moon Bay', 'City_Hamilton City', 'City_Hanford', 'City_Happy Camp', 'City_Harbor City', 'City_Hathaway Pines', 'City_Hawaiian Gardens', 'City_Hawthorne', 'City_Hayward', 'City_Healdsburg', 'City_Heber', 'City_Helendale', 'City_Helm', 'City_Hemet', 'City_Herald', 'City_Hercules', 'City_Herlong', 'City_Hermosa Beach', 'City_Hesperia', 'City_Hickman', 'City_Highland', 'City_Hilmar', 'City_Hinkley', 'City_Holtville', 'City_Homeland', 'City_Homewood', 'City_Honeydew', 'City_Hood', 'City_Hoopa', 'City_Hopland', 'City_Hornbrook', 'City_Hornitos', 'City_Hughson', 'City_Hume', 'City_Huntington Beach', 'City_Huntington Park', 'City_Huron', 'City_Hyampom', 'City_Hydesville', 'City_Idyllwild', 'City_Igo', 'City_Imperial', 'City_Imperial Beach', 'City_Independence', 'City_Indian Wells', 'City_Indio', 'City_Inglewood', 'City_Inverness', 'City_Ione', 'City_Irvine', 'City_Isleton', 'City_Ivanhoe', 'City_Jackson', 'City_Jacumba', 'City_Jamestown', 'City_Jamul', 'City_Janesville', 'City_Jenner', 'City_Johannesburg', 'City_Jolon', 'City_Joshua Tree', 'City_Julian', 'City_Junction City', 'City_June Lake', 'City_Keeler', 'City_Keene', 'City_Kelseyville', 'City_Kenwood', 'City_Kerman', 'City_Kernville', 'City_Kettleman City', 'City_Keyes', 'City_King City', 'City_Kings Beach', 'City_Kingsburg', 'City_Kirkwood', 'City_Klamath', 'City_Klamath River', 'City_Kneeland', 'City_Knights Landing', 'City_Korbel', 'City_Kyburz', 'City_La Canada Flintridge', 'City_La Crescenta', 'City_La Grange', 'City_La Habra', 'City_La Honda', 'City_La Jolla', 'City_La Mesa', 'City_La Mirada', 'City_La Palma', 'City_La Puente', 'City_La Quinta', 'City_La Verne', 'City_Ladera Ranch', 'City_Lafayette', 'City_Laguna Beach', 'City_Laguna Hills', 'City_Laguna Niguel', 'City_Lagunitas', 'City_Lake Arrowhead', 'City_Lake Elsinore', 'City_Lake Forest', 'City_Lake Hughes', 'City_Lake Isabella', 'City_Lakehead', 'City_Lakeport', 'City_Lakeshore', 'City_Lakeside', 'City_Lakewood', 'City_Lamont', 'City_Lancaster', 'City_Landers', 'City_Larkspur', 'City_Lathrop', 'City_Laton', 'City_Lawndale', 'City_Laytonville', 'City_Le Grand', 'City_Lebec', 'City_Lee Vining', 'City_Leggett', 'City_Lemon Cove', 'City_Lemon Grove', 'City_Lemoore', 'City_Lewiston', 'City_Likely', 'City_Lincoln', 'City_Linden', 'City_Lindsay', 'City_Litchfield', 'City_Little River', 'City_Littlerock', 'City_Live Oak', 'City_Livermore', 'City_Livingston', 'City_Llano', 'City_Lockeford', 'City_Lockwood', 'City_Lodi', 'City_Loleta', 'City_Loma Linda', 'City_Loma Mar', 'City_Lomita', 'City_Lompoc', 'City_Long Barn', 'City_Long Beach', 'City_Lookout', 'City_Loomis', 'City_Los Alamitos', 'City_Los Altos', 'City_Los Angeles', 'City_Los Banos', 'City_Los Gatos', 'City_Los Molinos', 'City_Los Olivos', 'City_Los Osos', 'City_Lost Hills', 'City_Lotus', 'City_Loyalton', 'City_Lucerne', 'City_Lucerne Valley', 'City_Ludlow', 'City_Lynwood', 'City_Lytle Creek', 'City_Macdoel', 'City_Mad River', 'City_Madeline', 'City_Madera', 'City_Madison', 'City_Magalia', 'City_Malibu', 'City_Mammoth Lakes', 'City_Manchester', 'City_Manhattan Beach', 'City_Manteca', 'City_Manton', 'City_March Air Reserve Base', 'City_Marina', 'City_Marina Del Rey', 'City_Mariposa', 'City_Markleeville', 'City_Marshall', 'City_Martinez', 'City_Marysville', 'City_Mather', 'City_Maxwell', 'City_Maywood', 'City_Mc Farland', 'City_Mc Kittrick', 'City_Mcarthur', 'City_Mccloud', 'City_Mckinleyville', 'City_Meadow Valley', 'City_Meadow Vista', 'City_Mecca', 'City_Mendocino', 'City_Menifee', 'City_Menlo Park', 'City_Mentone', 'City_Merced', 'City_Meridian', 'City_Mi Wuk Village', 'City_Middletown', 'City_Midpines', 'City_Midway City', 'City_Milford', 'City_Mill Creek', 'City_Mill Valley', 'City_Millbrae', 'City_Millville', 'City_Milpitas', 'City_Mineral', 'City_Mira Loma', 'City_Miramonte', 'City_Miranda', 'City_Mission Hills', 'City_Mission Viejo', 'City_Modesto', 'City_Mojave', 'City_Mokelumne Hill', 'City_Monrovia', 'City_Montara', 'City_Montclair', 'City_Monte Rio', 'City_Montebello', 'City_Monterey', 'City_Monterey Park', 'City_Montgomery Creek', 'City_Montrose', 'City_Moorpark', 'City_Moraga', 'City_Moreno Valley', 'City_Morgan Hill', 'City_Morongo Valley', 'City_Morro Bay', 'City_Moss Beach', 'City_Moss Landing', 'City_Mount Hamilton', 'City_Mount Hermon', 'City_Mount Laguna', 'City_Mount Shasta', 'City_Mountain Center', 'City_Mountain Ranch', 'City_Mountain View', 'City_Mt Baldy', 'City_Murphys', 'City_Murrieta', 'City_Myers Flat', 'City_Napa', 'City_National City', 'City_Navarro', 'City_Needles', 'City_Nevada City', 'City_New Cuyama', 'City_Newark', 'City_Newbury Park', 'City_Newcastle', 'City_Newhall', 'City_Newman', 'City_Newport Beach', 'City_Newport Coast', 'City_Nicasio', 'City_Nice', 'City_Nicolaus', 'City_Niland', 'City_Nipomo', 'City_Nipton', 'City_Norco', 'City_North Fork', 'City_North Highlands', 'City_North Hills', 'City_North Hollywood', 'City_North Palm Springs', 'City_North San Juan', 'City_Northridge', 'City_Norwalk', 'City_Novato', 'City_Nubieber', 'City_Nuevo', 'City_O Neals', 'City_Oak Park', 'City_Oak Run', 'City_Oak View', 'City_Oakdale', 'City_Oakhurst', 'City_Oakland', 'City_Oakley', 'City_Occidental', 'City_Oceano', 'City_Oceanside', 'City_Ocotillo', 'City_Ojai', 'City_Olancha', 'City_Old Station', 'City_Olema', 'City_Olivehurst', 'City_Olympic Valley', 'City_Ontario', 'City_Orange', 'City_Orange Cove', 'City_Orangevale', 'City_Oregon House', 'City_Orick', 'City_Orinda', 'City_Orland', 'City_Orleans', 'City_Oro Grande', 'City_Orosi', 'City_Oroville', 'City_Oxnard', 'City_Pacific Grove', 'City_Pacific Palisades', 'City_Pacifica', 'City_Pacoima', 'City_Paicines', 'City_Pala', 'City_Palermo', 'City_Palm Desert', 'City_Palm Springs', 'City_Palmdale', 'City_Palo Alto', 'City_Palo Cedro', 'City_Palo Verde', 'City_Palomar Mountain', 'City_Palos Verdes Peninsula', 'City_Paradise', 'City_Paramount', 'City_Parker Dam', 'City_Parlier', 'City_Pasadena', 'City_Paskenta', 'City_Paso Robles', 'City_Patterson', 'City_Pauma Valley', 'City_Paynes Creek', 'City_Pearblossom', 'City_Pebble Beach', 'City_Penn Valley', 'City_Penngrove', 'City_Penryn', 'City_Perris', 'City_Pescadero', 'City_Petaluma', 'City_Petrolia', 'City_Phelan', 'City_Phillipsville', 'City_Philo', 'City_Pico Rivera', 'City_Piercy', 'City_Pilot Hill', 'City_Pine Grove', 'City_Pine Valley', 'City_Pinecrest', 'City_Pinole', 'City_Pinon Hills', 'City_Pioneer', 'City_Pioneertown', 'City_Piru', 'City_Pismo Beach', 'City_Pittsburg', 'City_Pixley', 'City_Placentia', 'City_Placerville', 'City_Planada', 'City_Platina', 'City_Playa Del Rey', 'City_Pleasant Grove', 'City_Pleasant Hill', 'City_Pleasanton', 'City_Plymouth', 'City_Point Arena', 'City_Point Reyes Station', 'City_Pollock Pines', 'City_Pomona', 'City_Pope Valley', 'City_Port Costa', 'City_Port Hueneme', 'City_Porter Ranch', 'City_Porterville', 'City_Portola', 'City_Portola Valley', 'City_Posey', 'City_Potrero', 'City_Potter Valley', 'City_Poway', 'City_Prather', 'City_Princeton', 'City_Quincy', 'City_Raisin City', 'City_Ramona', 'City_Ranchita', 'City_Rancho Cordova', 'City_Rancho Cucamonga', 'City_Rancho Mirage', 'City_Rancho Palos Verdes', 'City_Rancho Santa Fe', 'City_Rancho Santa Margarita', 'City_Randsburg', 'City_Ravendale', 'City_Raymond', 'City_Red Bluff', 'City_Redcrest', 'City_Redding', 'City_Redlands', 'City_Redondo Beach', 'City_Redway', 'City_Redwood City', 'City_Redwood Valley', 'City_Reedley', 'City_Rescue', 'City_Reseda', 'City_Rialto', 'City_Richmond', 'City_Richvale', 'City_Rio Dell', 'City_Rio Linda', 'City_Rio Nido', 'City_Rio Oso', 'City_Rio Vista', 'City_Ripon', 'City_River Pines', 'City_Riverbank', 'City_Riverdale', 'City_Riverside', 'City_Rocklin', 'City_Rodeo', 'City_Rohnert Park', 'City_Rosamond', 'City_Rosemead', 'City_Roseville', 'City_Rough And Ready', 'City_Round Mountain', 'City_Rowland Heights', 'City_Running Springs', 'City_Sacramento', 'City_Saint Helena', 'City_Salida', 'City_Salinas', 'City_Salton City', 'City_Salyer', 'City_Samoa', 'City_San Andreas', 'City_San Anselmo', 'City_San Ardo', 'City_San Bernardino', 'City_San Bruno', 'City_San Carlos', 'City_San Clemente', 'City_San Diego', 'City_San Dimas', 'City_San Fernando', 'City_San Francisco', 'City_San Gabriel', 'City_San Geronimo', 'City_San Gregorio', 'City_San Jacinto', 'City_San Joaquin', 'City_San Jose', 'City_San Juan Bautista', 'City_San Juan Capistrano', 'City_San Leandro', 'City_San Lorenzo', 'City_San Lucas', 'City_San Luis Obispo', 'City_San Marcos', 'City_San Marino', 'City_San Martin', 'City_San Mateo', 'City_San Miguel', 'City_San Pablo', 'City_San Pedro', 'City_San Quentin', 'City_San Rafael', 'City_San Ramon', 'City_San Simeon', 'City_San Ysidro', 'City_Sanger', 'City_Santa Ana', 'City_Santa Barbara', 'City_Santa Clara', 'City_Santa Clarita', 'City_Santa Cruz', 'City_Santa Fe Springs', 'City_Santa Margarita', 'City_Santa Maria', 'City_Santa Monica', 'City_Santa Paula', 'City_Santa Rosa', 'City_Santa Ynez', 'City_Santa Ysabel', 'City_Saratoga', 'City_Sausalito', 'City_Scotia', 'City_Scott Bar', 'City_Scotts Valley', 'City_Seal Beach', 'City_Seaside', 'City_Sebastopol', 'City_Seeley', 'City_Seiad Valley', 'City_Selma', 'City_Sequoia National Park', 'City_Shafter', 'City_Shandon', 'City_Shasta', 'City_Shasta Lake', 'City_Shaver Lake', 'City_Sheep Ranch', 'City_Sheridan', 'City_Sherman Oaks', 'City_Shingle Springs', 'City_Shingletown', 'City_Shoshone', 'City_Sierra City', 'City_Sierra Madre', 'City_Sierraville', 'City_Simi Valley', 'City_Sloughhouse', 'City_Smartville', 'City_Smith River', 'City_Snelling', 'City_Soda Springs', 'City_Solana Beach', 'City_Soledad', 'City_Solvang', 'City_Somerset', 'City_Somes Bar', 'City_Somis', 'City_Sonoma', 'City_Sonora', 'City_Soquel', 'City_Soulsbyville', 'City_South Dos Palos', 'City_South El Monte', 'City_South Gate', 'City_South Lake Tahoe', 'City_South Pasadena', 'City_South San Francisco', 'City_Spreckels', 'City_Spring Valley', 'City_Springville', 'City_Squaw Valley', 'City_Standish', 'City_Stanford', 'City_Stanton', 'City_Stevenson Ranch', 'City_Stevinson', 'City_Stinson Beach', 'City_Stirling City', 'City_Stockton', 'City_Stonyford', 'City_Stratford', 'City_Strathmore', 'City_Strawberry Valley', 'City_Studio City', 'City_Sugarloaf', 'City_Suisun City', 'City_Sultana', 'City_Summerland', 'City_Sun City', 'City_Sun Valley', 'City_Sunland', 'City_Sunnyvale', 'City_Sunol', 'City_Sunset Beach', 'City_Surfside', 'City_Susanville', 'City_Sutter', 'City_Sutter Creek', 'City_Sylmar', 'City_Taft', 'City_Tahoe City', 'City_Tahoe Vista', 'City_Tahoma', 'City_Tarzana', 'City_Taylorsville', 'City_Tecate', 'City_Tehachapi', 'City_Tehama', 'City_Temecula', 'City_Temple City', 'City_Templeton', 'City_Termo', 'City_Terra Bella', 'City_The Sea Ranch', 'City_Thermal', 'City_Thornton', 'City_Thousand Oaks', 'City_Thousand Palms', 'City_Three Rivers', 'City_Tollhouse', 'City_Tomales', 'City_Topanga', 'City_Topaz', 'City_Torrance', 'City_Trabuco Canyon', 'City_Tracy', 'City_Tranquillity', 'City_Traver', 'City_Travis Afb', 'City_Trinidad', 'City_Trinity Center', 'City_Tujunga', 'City_Tulare', 'City_Tulelake', 'City_Tuolumne', 'City_Tupman', 'City_Turlock', 'City_Tustin', 'City_Twain', 'City_Twain Harte', 'City_Twentynine Palms', 'City_Twin Bridges', 'City_Ukiah', 'City_Union City', 'City_Upland', 'City_Upper Lake', 'City_Vacaville', 'City_Valencia', 'City_Vallecito', 'City_Vallejo', 'City_Valley Center', 'City_Valley Ford', 'City_Valley Springs', 'City_Valley Village', 'City_Valyermo', 'City_Van Nuys', 'City_Venice', 'City_Ventura', 'City_Vernalis', 'City_Victorville', 'City_Villa Park', 'City_Vina', 'City_Visalia', 'City_Vista', 'City_Volcano', 'City_Wallace', 'City_Walnut', 'City_Walnut Creek', 'City_Walnut Grove', 'City_Warner Springs', 'City_Wasco', 'City_Washington', 'City_Waterford', 'City_Watsonville', 'City_Weaverville', 'City_Weed', 'City_Weimar', 'City_Weldon', 'City_Wendel', 'City_Weott', 'City_West Covina', 'City_West Hills', 'City_West Hollywood', 'City_West Point', 'City_West Sacramento', 'City_Westlake Village', 'City_Westminster', 'City_Westmorland', 'City_Westport', 'City_Westwood', 'City_Wheatland', 'City_White Water', 'City_Whitmore', 'City_Whittier', 'City_Wildomar', 'City_Williams', 'City_Willits', 'City_Willow Creek', 'City_Willows', 'City_Wilmington', 'City_Wilseyville', 'City_Wilton', 'City_Winchester', 'City_Windsor', 'City_Winnetka', 'City_Winterhaven', 'City_Winters', 'City_Winton', 'City_Wishon', 'City_Witter S

In [11]:
# 10% vaildation 
x_train,x_test,y_train,y_test = train_test_split(train_imputed,train.loc[:, 'Churn Category'],test_size=0.90, random_state=0)

### SVM_linear

In [12]:
best_acc=0
best_c=0
best_g=0
best_d=0
tc=1
for c in range (1):
    tg=1
    for g in range(1):
        for d in range(3,4):
            print(c,g,d)
            svm_model = SVC(kernel = 'rbf',degree=d,gamma=tg, C = tc).fit(x_train, y_train)
            svm_predictions = svm_model.predict(x_test)
            accuracy = svm_model.score(x_test, y_test)
            if(accuracy>best_acc):
                best_acc=accuracy
                best_c=tc
                best_g=tg
                best_d=d
        tg*=10
    tc*=10
print(best_acc)
svm_model = SVC(kernel = 'rbf',degree=best_d,gamma=best_g, C = best_c).fit(train_imputed, train.loc[:,'Churn Category'])

0 0 3

### decision tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier(max_depth = 1).fit(x_train, y_train)
dtree_predictions = dtree_model.predict(x_test)
accuracy = dtree_model.score(x_test, y_test)
print(accuracy)

0.8091482649842271

### knn

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 38).fit(x_train, y_train)
accuracy = knn.score(x_test, y_test)
print(accuracy)

0.7389589905362776

### RandomForest + ada boost

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

rf = RandomForestClassifier(n_estimators = 1000, random_state = 0,n_jobs=-1)
ada = AdaBoostClassifier(n_estimators = 1000, random_state = 0, )



rf.fit(x_train, y_train)
rf.score(x_train, y_train)

#ada.fit(x_train, y_train)
#ada.score(x_train, y_train)

1.0

In [ ]:
rf.score(x_test, y_test)

0.7628811777076762

### Prediction

In [ ]:
testID=pd.read_csv('Test_IDs.csv')
testID.columns=['Customer ID']
dftest=pd.DataFrame(testID)
test=pd.merge(dftest,users,on='Customer ID',how='left')
#print(test)
test_imputed = imputer.fit_transform(test.loc[:, features])
df=pd.DataFrame(test_imputed)
poly = PolynomialFeatures(degree=2, interaction_only=True)
test_imputed = pd.DataFrame(poly.fit_transform(df))
#print(train_imputed.shape)
print(test_imputed)
dftest['Churn Category']=svm_model.predict(test_imputed)

#dftest['Churn Category']=dtree_model.predict(test_imputed)

#testID['Churn Category']=knn.predict(test_imputed)

#dftest['Churn Category']=rfr.predict(test_imputed)
#dftest['Churn Category']=rf.predict(test_imputed)
#dftest['Churn Category']=ada.predict(test_imputed)

[[7.3000e+01 0.0000e+00 9.2027e+04 ... 0.0000e+00 0.0000e+00 0.0000e+00]
 [6.4000e+01 0.0000e+00 9.3532e+04 ... 1.0000e+00 0.0000e+00 0.0000e+00]
 [4.7000e+01 0.0000e+00 9.2119e+04 ... 0.0000e+00 1.0000e+00 0.0000e+00]
 ...
 [2.7000e+01 0.0000e+00 9.3532e+04 ... 0.0000e+00 0.0000e+00 0.0000e+00]
 [3.8000e+01 3.0000e+00 9.2604e+04 ... 0.0000e+00 1.0000e+00 0.0000e+00]
 [4.7000e+01 0.0000e+00 9.0301e+04 ... 0.0000e+00 1.0000e+00 0.0000e+00]]

### Output result

In [ ]:
testID.columns=['Customer ID','Churn Category']
submiss=pd.DataFrame(testID)
submiss.to_csv('submission.csv',index=False)